run = "npm run web"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json", "package.json", ".gitignore" ]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[workflows]
runButton = "Start React Native"

[[workflows.workflow]]
name = "Start React Native"
author = 9465246
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run web"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 19006
externalPort = 3000
